header {
    background-color: #D4A06A;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header h1, h4 {
      color: #052547;
  }

  header p {
    color: #052547;
    font-size: 1em;
  }

  header img {
      width: 70px;
      height: auto;
  }

  footer {
    background-color: #D4A06A;
    color: #052547;
    text-align: center;
    vertical-align: center;
  }
  
  header {
    padding-top: 0.5rem;
  }
  
  footer {
    padding: 0.5rem 0rem;
    font-family: "Crimson Text", serif;
  }
    
  nav {
    background-color: #1b6674;
  }
  .navigation {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
      display: none;
  }
  
  .navigation li:first-child {
      display: block;
  }
  
  .navigation li a {
    display: block;
    background-color: #1b6674;
    color: #dadee0;
    text-decoration: underline;
    text-align: center;
    padding: 1rem;
    font-family: "Muli", sans-serif;
  }
  
  .navigation a:hover {
    background-color: #08d6fc;
    color: #650891;
    
  }

  .responsive li {
    display: block;
  }
 .fwidth {
   width: 100%;
   display: block;
   align-items: center;
 }
 
  section h1 {
      text-align: center;
  }
  main {
      padding: 0 2%;
      min-height: 20rem;
  }
  
  .wcontent {
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.wcontent section h2 {
    margin-bottom: 5px;
}

.wcontent section div.txt div {
    padding: 8px;
}

.wcontent section {
    width: auto;    
    background-color: #353c3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.wcontent section div.txtImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.wcontent section div.txt {
    padding: 40px;
    width: 100%;
}

.wcontent section div.txtImage div.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wcontent section div.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wcontent section img {
    height: 220px;
    width: 80%;
}
.wcontent h4{
    color: white;
    font-family: "Muli", serif;
}

  
section {
    font-family: "Crimson Text", serif;
}


.wcontent {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.wcontent section h2 {
  margin-bottom: 5px;
}

.wcontent section div.txt div {
  padding: 8px;
}

.wcontent section {
  width: auto;    
  background-color: #353c3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.wcontent section div.txtImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.wcontent section div.txt {
  padding: 40px;
  width: 100%;
}

.wcontent section div.txtImage div.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wcontent section div.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wcontent section img {
  height: 220px;
  width: 80%;
}
.wcontent h4{
  color: white;
  font-family: "Muli", serif;
}